# Defina a sua senha mestra aqui (Ela deve conter letras maiúsculas, minúsculas, números e ter no mínimo 8 caracteres)
# Exemplo: SenhaMestra#2026
ORACLE_PASSWORD="SUA_SENHA_FORTE_AQUI"
ORACLE_PWD="SUA_SENHA_FORTE_AQUI"

DB_CONN_BASE=local-26ai
DB_CONN_NAME=local-26ai-sys
CONTAINER_NAME=local-26ai
DBSERVICENAME="FREEPDB1"
DBHOST="26ai"
DBPORT="1521"
FORCE_SECURE="false"
